---
import Container from "../layout/Container.astro";
---

<footer>
  <Container>
    <p>© {new Date().getFullYear()} Ale Gravina Fabregat</p>
  </Container>
</footer>

<style>
  footer {
    margin-top: 4rem;
    padding: 2rem 0;
    border-top: 1px solid #eee;
    text-align: center;
    font-size: 0.9rem;
  }
</style>